{% extends 'wybory/base.html' %}
{% load static %}

{% block title %}Kalendarz Wyborczy{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/election_calendar.css' %}">

<div class="calendar-container">
    <h2 class="calendar-title">Kalendarz Wyborczy</h2>
    <ul class="calendar-list">
        {% for election in elections %}
            <li class="calendar-item">
                <span class="election-date">{{ election.date }}</span>:
                <span class="election-title">{{ election.title }}</span>
            </li>
        {% empty %}
            <p class="no-elections">Brak nadchodzących wyborów.</p>
        {% endfor %}
    </ul>
</div>

{% endblock %}
