{% extends 'wybory/base.html' %}

{% block title %}Strona główna - E-Wybory{% endblock %}

{% block content %}
<h2>Sondaże:</h2>
<h2>Dostępne wybory:</h2>
<ul>
    {% for election in elections %}
        <li>
            <a href="{% url 'candidate_list' election.id %}">
                {{ election.title }} ({{ election.election_type.name }})
            </a>
            <p>{{ election.description }}</p>
            <p>Data: {{ election.date }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}