{% extends 'wybory/base.html' %}

{% block title %}Rejestracja - E-Wybory{% endblock %}

{% block content %}
<h2>Zarejestruj się</h2>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="g-recaptcha" data-sitekey="6LdREUkrAAAAAIH7f9CHeK7mGHdXAHYBP98iRfsa"></div>
    <button type="submit">Zarejestruj się</button>
</form>
<p>Masz już konto? <a href="{% url 'login' %}">Zaloguj się</a></p>
{% endblock %}