<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Podsumowanie Wyborów</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/election_summary.css' %}">
</head>
<body>
    <h1>Podsumowanie Wyborów</h1>
    <h2>{{ election.title }}</h2>
    <p><strong>Rozpoczęcie głosowania:</strong> {{ start_time|date:"d M Y H:i" }}</p>
    <p><strong>Zakończenie głosowania:</strong> {{ end_time|date:"d M Y H:i" }}</p>
    <p><strong>Liczba kandydatów:</strong> {{ total_candidates }}</p>
    <p><strong>Łączna liczba głosów:</strong> {{ total_votes }}</p>

    <h2>Poparcie dla kandydatów</h2>
    <table>
        <thead>
            <tr>
                <th>Kandydat</th>
                <th>Partia</th>
                <th>Liczba głosów</th>
                <th>Poparcie (%)</th>
            </tr>
        </thead>
        <tbody>
            {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.name }}</td>
                <td>{{ candidate.party }}</td>
                <td>{{ candidate.votes }}</td>
                <td>{{ candidate.support_percentage }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="chart">
        <h2>Wykres procentowy:</h2>
        <img src="data:image/png;base64,{{ chart }}" alt="Wykres wyników wyborów">
    </div>
</body>
</html>