<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Podsumowanie wyborów parlamentarnych</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/party_election_summary.css' %}">
</head>
<body>
    <h1>Podsumowanie wyborów parlamentarnych: {{ election.title }}</h1>
    <p>Data rozpoczęcia: {{ start_time }}</p>
    <p>Data zakończenia: {{ end_time }}</p>
    <p>Liczba partii: {{ total_parties }}</p>
    <p>Łączna liczba głosów: {{ total_votes }}</p>
    <div class="chart">
        <img src="data:image/png;base64,{{ chart }}" alt="Wykres wyników partii" />
    </div>
    <table>
        <tr>
            <th>Partia</th>
            <th>Liczba głosów</th>
            <th>Poparcie (%)</th>
        </tr>
        {% for party in parties %}
        <tr>
            <td>{{ party.name }}</td>
            <td>{{ party.votes }}</td>
            <td>{{ party.support_percentage }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>