{% extends 'wybory/base.html' %}

{% block title %}Karta do Głosowania{% endblock %}

{% block content %}
<h2>Karta do Głosowania</h2>

<ul>
    {% for election in elections %}
        <li>
            {{ election.date }} - {{ election.title }}
            {% if voter.eligible and voter.verification_status == 'approved' %}
                <a href="{% url 'cast_vote' election.id %}">Przejdź do głosowania</a>
            {% else %}
                <span style="color: red;">(Musisz być zweryfikowany, aby głosować)</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}