{% extends 'wybory/base.html' %}
{% load static %}

{% block title %}Oddaj Głos{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cast_vote.css' %}">

<div class="cast-vote-container">
  <h2>Oddaj Głos</h2>

  <p><strong>Wybory:</strong> {{ election.title }}</p>
  <p><strong>Data rozpoczęcia:</strong> {{ election.date|date:"d-m-Y H:i" }}</p>
  <p><strong>Data zakończenia:</strong> {{ election.end_time|date:"d-m-Y H:i" }}</p>

  {% if is_voting_available %}
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Oddaj głos</button>
      </form>
  {% else %}
      <p class="error-message">
          Głosowanie jest niedostępne. Możesz głosować tylko między 
          {{ election.date|date:"d-m-Y H:i" }} a {{ election.end_time|date:"d-m-Y H:i" }}.
      </p>
  {% endif %}
</div>
{% endblock %}